<article class="app-container">
  <h1 class="mat-h1">Contact Us</h1>
  <pre>
    {{ getJson(reactiveForm.value) }}
    name: valid={{ reactiveForm.controls['name'].valid }} touched:{{ reactiveForm.controls['name'].touched }}
    email: valid={{ reactiveForm.controls['email'].valid }} touched:{{ reactiveForm.controls['email'].touched }}
    body: valid={{ reactiveForm.controls['body'].valid }} touched:{{ reactiveForm.controls['body'].touched }}  
  </pre>  

  <form [formGroup]="reactiveForm" (ngSubmit)="send(reactiveForm.value)">

    <md-input-container class="contact-field-full-width">
      <input placeholder="Full Name" mdInput formControlName="name">      
    </md-input-container>

    <md-input-container class="contact-field-full-width">
      <input type="email" placeholder="Email" mdInput formControlName="email">
    </md-input-container>

    <md-input-container class="contact-field-full-width">
      <textarea rows="10" cols="50" 
        placeholder="Message" 
        mdInput formControlName="body">
      </textarea>
    </md-input-container>

    <button md-raised-button (click)="changeValidators()" >Change Validators</button>

    <button md-raised-button type="submit"
      class="contact-send"
      [disabled]="!reactiveForm.valid">Send Message</button>

  </form>
</article>