<article class="app-container">
  <h1 class="mat-h1">Contact Us</h1>

  <form (ngSubmit)="send()" #contactForm="ngForm">

    <md-input-container class="contact-field-full-width">
      <input mdInput required
      name="name"             
      placeholder="Full Name"
      [(ngModel)]="message.name">
    </md-input-container>

    <md-input-container class="contact-field-full-width">
      <input mdInput required email
          type="email" 
          name="email" 
          placeholder="Email"
          [(ngModel)]="message.email">
    </md-input-container>

    <md-input-container class="contact-field-full-width">
      <textarea mdInput required
        rows="10" cols="50" 
        minlength="20" maxlength="500"
        name="body" 
        placeholder="Message"
        [(ngModel)]="message.body">
      </textarea>
    </md-input-container>

    <button md-raised-button type="submit"
      class="contact-send"
      [disabled]="!contactForm.form.valid">Send Message</button>

  </form>
</article>