@import '../../../theme/material-theme';

:host {
  .app-container {
    padding: 0 15px;
  }

  .contact-field-full-width {
    display: block;
    width: 90%;
  }

  .contact-send {
    background-color: mat-color($app-primary, 500);
  }
}