<footer>
  <mat-toolbar class="footer" color="accent">
    <mat-toolbar-row>
      <span>Footer</span>
    </mat-toolbar-row>
    <mat-toolbar-row class="small-toolbar-row">
      <span class="footer-small copyright">
        <span>Copyright&copy; 2016-{{ currentTime | date:'y' }}</span>
        <span>{{companyName}}.</span>
        <span>All rights reserved.</span>
      </span>
      <span (click)="toggleFormat()" class="footer-small time" matTooltip="Click to change the date format." matTooltipPosition="above">{{currentTime | date:timeFormat}}</span>
    </mat-toolbar-row>
  </mat-toolbar>
</footer>
