<header>  
  <mat-toolbar class="header-toolbar" color="primary">
    <a class="logo">
      <img src='/favicon.ico'>
      <span class="title">Logo</span>
    </a>

    <div class="searchbox">
      <app-searchbox></app-searchbox>
    </div>

    <mat-menu #headerMenu="matMenu">
      <button mat-menu-item routerLink="">
        <mat-icon aria-hidden="true">home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item routerLink="contact">
        <mat-icon aria-hidden="true">local_post_office</mat-icon>
        <span>Contact</span>
      </button>
      <button mat-menu-item routerLink="about">
        <mat-icon aria-hidden="true">business</mat-icon>
        <span>About</span>
      </button>
    </mat-menu>

    <nav class="header-nav">      
      <button mat-button routerLink="">
        <mat-icon aria-hidden="true">home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-button routerLink="contact">
        <mat-icon aria-hidden="true">local_post_office</mat-icon>
        <span>Contact</span>
      </button>
      <button mat-button routerLink="about">
        <mat-icon aria-hidden="true">business</mat-icon>
        <span>About</span>
      </button>
    </nav>
    
    <a mat-icon-button class="menu-button" [matMenuTriggerFor]="headerMenu">
      <mat-icon aria-hidden="true">menu</mat-icon>
    </a>
  </mat-toolbar>
</header>