<header>  
  <md-toolbar color="primary">
    <div class="search-logo-bar toolbar-spacer">
      <a class="logo">
        <img src='/favicon.ico'>
        <span class="title">Logo</span>
      </a>
      <app-searchbox></app-searchbox>
    </div>

    <div class="menu">
      <label for="toggle">
        <a md-icon-button class="menu-button">
          <md-icon aria-hidden="true">menu</md-icon>
        </a>
      </label>
    </div>

    <input id="toggle" class="menu-toggle" type="checkbox">
    <nav>      
      <a md-button routerLink=""><md-icon aria-hidden="true">home</md-icon> Home</a>
      <a md-button routerLink="contact"><md-icon aria-hidden="true">local_post_office</md-icon> Contact</a>
      <a md-button routerLink="about"><md-icon aria-hidden="true">business</md-icon> About</a>
    </nav>
  </md-toolbar>  
</header>