@import '../../../theme/material-theme';

:host {
  $header-logo-height: 60px;
  
  .toolbar-spacer {
    flex: 1 1 auto;
  }

  .search-logo-bar {
    display: flex;
    align-items: stretch;
    
    a.logo {
      line-height: $header-logo-height;

      > * {
        display: inline-block;
        vertical-align: middle;
      }

      @media (max-width: $media-max-mobile-xs) {
        .title {
          display: none;
        }
      }
    }

    app-searchbox {
      flex: 1 1 auto;
      height: $header-logo-height;
      max-width: 300px;
      padding-left: 10px;
      font-size: 0.6em;
    }
  }

  .menu {
    .menu-button {
      display: block;

      @media (min-width: $media-max-mobile-xs) {
        display: none;
      }
    }

    + nav {
      display: none;

      @media (min-width: $media-max-mobile-xs) {
        display: flex;
      }      
    }
  }

  .menu-toggle {
    display: none;

    @media (max-width: 480px) {
      + nav {
        position: absolute;
        width: 150px;
        height: auto;
        right: 10px;
        top: 46px;

        @include app-popup();
        
        a {
          display: block;
        }
      }
      
      &:not(:checked) + nav {
        display: none;
      }
    }
  }
}