@import '../../../theme/material-theme';

:host {
  .example-card {
    width: 200px;
  }

  @media (max-width: $media-max-mobile-xs) {
    .example-card {
      width: 250px;
    }    
  }
  @media (min-width: $media-min-mobile) and (max-width: $media-max-mobile) {
    .example-card {
      width: 420px;
    }    
  }

  @media (min-width: $media-min-tablet) and (max-width: $media-max-desktop-s) {
    .example-card {
      width: 600px;
    }    
  }

  @media (min-width: $media-min-desktop) {
    .example-card {
      width: 100%;
      max-width: 800px;
    }    
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg');
    background-size: cover;
  }

  .user-list {
    border-top: 1px dotted lightgray;
    border-bottom: 1px dotted lightgray;

    ul {
      list-style-type: none;
      line-height: 1.6;
      padding: 7px 0;

      &:not(:last-of-type) {
        border-bottom: 1px solid darkgray;
      }

      li {
        label {
          font-weight: 600;
        }

        text-align: left;
      }

      @media (max-width: $media-max-mobile-xs) {
        li {
          text-align: center;
          label {
            display: block;
          }
        }
      }
    }
  }
}