@import '../../../theme/material-theme';

:host {
  display: block;
  width: 230px;
  height: 160px; 

  .company-info {
    background-color: mat-color($app-accent,300);
    border: 2px solid mat-color($app-accent, A700);

    display: block;
    border-radius: 4px;    
  }
}